body
{
   background-color:	 
 #ccff99;
}

h1
{
   text-align: center;
   color: red;
}

h2
{
   text-align: center;
   color: blue;
}
h5
{
   text-align: center;
   color: black;
}

form
{
  text-align: center;
}



